body {
    font-family: 'Oxanium', sans-serif;
    background: white;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid white;
    opacity: 0;
}

header {
    padding: 50px;
    background-color: white;
    border-bottom: 2px solid white;
    opacity: 0;
}
.bloeth { 
    color: white;
    border: 1px solid white;
    opacity: 0;
    outline: 1px solid #000000;
}
h1 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid white;
    opacity: 0;
}

h2 {
    color: white;
    font-size: 2rem;
    border-bottom: 2px solid white;
    opacity: 0;
}

.search-bar {
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid white;
    width: 60%;
    max-width: 500px;
    font-size: 1rem;
    color: white;
    opacity: 0;
}

.search-bar::placeholder {
    color: white; 
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid white;
    opacity: 0;
}

.game-link {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s, background-color 0.3s;
    border: 2px solid white;
    opacity: 0;
}

.game-link:hover {
    transform: translateY(-5px);
    background-color: white;
}

.game-title {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid white;
    opacity: 0;
}

.pin-button {
    display: block;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    color: white;
    border: 1px solid white;
    opacity: 0;
}

a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    opacity: 0;
}

footer {
    background-color: white;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 2px solid white;
    opacity: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    border-bottom: 1px solid white;
    opacity: 0;
}

footer a:hover {
    color: white;
}

@media (max-width: 600px) {
    .game-grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        border: 1px solid white;
        opacity: 0;
    }

    .game-link {
        height: 100px;
        color: white;
        opacity: 0;
    }

    .game-title {
        font-size: 0.9rem;
        border-bottom: 1px solid white;
        opacity: 0;
    }
}
